# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.venv/
env/

# PASTA BASE DE ARQUIVOS (Dados Locais)
base_dados/

# Arquivos de log e temporários
*.log
.DS_Store
*.txt
*.csv
*.xlsx

# Configurações de IDE
.vscode/
.idea/

# Arquivos de ambiente (Senhas e Chaves)
.env