# Cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais
.venv/
venv/

# Configurações de IDE
.vscode/

# Ignorar apenas os arquivos de DADOS dentro da pasta, mas manter a pasta e o script de caminhos
base_dados/*.xlsx
base_dados/*.xls
base_dados/*.txt
!base_dados/path_dados.py
!base_dados/__init__.py

# Ignorar o arquivo de saída gerado pelo Pandas
RETORNO.xlsx
log_erros.txt